.custom-bg {
	background-color: pink;
	padding: 10px 0;
	margin-bottom: 10px;
}

.bgc {
	background-color: #99D9EA;
	min-height: 50px;
	margin-bottom: 10px;
}

.red {
	background-color: red;
}